<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  
  </head>
  
  <body>
  

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Student Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
          </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="/student/login" class="btn btn-outline-success">Student Login</a>
      &nbsp;
      <a href="/login" class="btn btn-outline-success" >Teacher Login</a>
       </form>
    
  </div>
</nav>

<img src="img1.jpg" alt="" width="1532" height="656">

 </body>
</html>